@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0" + ",400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1" + ",800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1" + ",300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent-color: #FDC463;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.room-card {
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.galleryimg {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
nav ul li .active {
  background-color: #f3f4f6;
  padding: 10px 20px;
  border-radius: 45%;
}

nav ul li .nav-link {
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 45%;
}

.navb-link {
  display: flex;
  gap: 50px;
}

/* Rooms Page -> Rooms Images*/

.card-image {
  width: 100%;
  border-radius: 16px;
  height: 520px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

.col-lg-7>.card-image>.rooms-image {
  object-fit: cover;
  width: 100%;
}

.col-sm-6 .card-image {
  height: 255px;
}

.col-sm-6>.card-image>.rooms-image {
  height: 100%;
}

.rooms-image:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-show-all-photos, .button-show-all-photos2 {
  position: absolute;
  bottom: 10;
  left: 10;
  width: 180px;
  height: 40px;
  gap: 5px;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
}

.button-show-all-photos .rooms-icon, .button-show-all-photos2 .rooms-icon {
  font-size: 20px;
  border-radius: 10px;
}

.button-show-all-photos2 {
  display: none;
}

@media (max-width: 576px) {
  .col-sm-6 .card-image {
    height: 520px;
  }

  .button-show-all-photos {
    display: none;
  }

  .button-show-all-photos2 {
    margin-top: 20px;
    position: relative;
    display: flex;
  }
}

/* Rooms Page -> Roooms Main */

.rooms-main {
  padding: 40px 4rem;
}

.rooms-main-row {
  gap: 4rem;
  row-gap: 3rem;
}

.rooms-main-row .card {
  border-radius: 16px;
}

/* Col - 7 */

.rooms-main-row>.col-lg-7>.card>.card-header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.rooms-main-row>.col-lg-7>.card>.card-header>.room-bedge {
  padding: 2px 16px;
  border-radius: 10px;
  background-color: #BFD2E0;
}

.rooms-main-row>.col-lg-7>.card>.card-header>.room-bedge>.room-bedge-text {
  font-size: 12px;
  margin: 0;
  color: #3730A3;
}

.rooms-main-row>.col-lg-7>.card>.card-header>.action-group {
  display: flex;
  gap: 15px;
}

.rooms-main-row>.col-lg-7>.card>.card-header>.action-group>.action-button {
  display: flex;
  gap: 15px;
  align-items: center;
  border: 0;
  font-size: 14px;
  background-color: transparent;
}

.rooms-main-row>.col-lg-7>.card>.card-body {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.rooms-main-row>.col-lg-7>.card>.card-body>.type-room {
  font-weight: 600;
  font-size: 36px;
}

.rooms-main-row>.col-lg-7>.card>.card-body>.hotel-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rooms-main-row>.col-lg-7>.card>.card-body>.hotel-profile>.hotel-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .rooms-main-row>.col-lg-7>.card>.card-body>.hotel-profile>.hotel-profile-image::after {
  content: "\f00c";
} */

.rooms-main-row>.col-lg-7>.card>.card-body>.hotel-profile>.hotel-name {
  font-size: 16px;
}

.rooms-main-row>.col-lg-7>.card>.card-footer {
  padding: 25px;
  display: flex;
  border: 0;
  background-color: transparent;
  gap: 52px;
}

.rooms-main-row>.col-lg-7>.card>.card-footer>.row {
  width: 100%;
}

.rooms-main-row>.col-lg-7>.card>.card-footer>.row>.col-lg-6>.row>.col-sm-6>.room-info {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  color: gray;
}

/* col - 4 */

.rooms-main-row>.col-lg-4>.card>.card-header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.rooms-main-row>.col-lg-4>.card>.card-header>.room-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px black solid; */
  width: 100%;
}

.rooms-main-row>.col-lg-4>.card>.card-body {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation {
  border: 1px #E5E7EB solid;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row {
  width: 100%;
  border: 1px black solid;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  /* border-bottom: 1px #E5E7EB solid; */
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>i {
  font-size: 28px;
  color: gray;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-in, .rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-out {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-in>span, .rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-out>span {
  color: gray;
  font-size: 14px;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-in>h5, .rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-6>.check-out>h5 {
  font-weight: 600;
  font-size: 14px;
}

/*  */

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-12 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  padding: 10px 0;
  padding-left: 2.5rem;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-12>i {
  font-size: 28px;
  color: gray;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-12>.guests {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-12>.guests>span {
  color: gray;
  font-size: 14px;
}

.rooms-main-row>.col-lg-4>.card>.card-body>.info-reservation>.row>.col-lg-12>.guests>h5 {
  font-weight: 600;
  font-size: 14px;
}

.rooms-main-row>.col-lg-4>.card>.card-footer {
  padding: 25px;
  display: flex;
  border: 0;
  background-color: transparent;
  gap: 52px;
}

@media (max-width: 576px) {
  .rooms-main {
    padding: 40px 0;
  }
}

/* ALL STYLE RATING STAR */
.rooms-main-row p {
  font-weight: 600;
  font-size: 16px;
}

.rooms-main-row p span {
  font-weight: 400;
  font-size: 16px;
  color: gray;
}
.rating-star {
  color: #e02424;
}

/* More Page */